@charset "UTF-8";

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: local('Pretendard Variable'), url('./images/PretendardVariable.woff2') format('woff2-variations');
}

@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-display: swap;
}

*{
    margin: 0 auto;
    padding: 0;
    font-family: "Pretendard";
    color: #333333;
    list-style: none;
    font-size:16px;
}
a{
    text-decoration: none;
    display: block;
}
html,body{
    width: 100%;
    background-color: #000000;
}
header{
    width: 100%;
    height: 80px;
    background-color: #000000;
}
.wrap{
    width: 100%;
    height: 80px;
}
.logo{
    float: left;
    width: 280px;
    height: 80px;

}
.logo a{
    width: 280px;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
}
.logo a img{
    transition: all 0.1s linear;  
}
.logo a img:hover{
    transform: scale(0.9);
}
.menu{
    float: right;
    margin-left: 30px;
    margin-right: 30px;
}
.navi{
    margin-top: 20px;
}
.navi>li{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
.navi>li>a{
    /*a에는 left X */
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}
.navi>li>a:hover{
    background-color: #ffffff;
    color: #000000;
}
.menu .active a{
    color: #ffffff;
}
.menu a{
    color: #808080;
}
