@charset "UTF-8";

.bg_video {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100vh - 4px);
    width: 100%;
    z-index: -1;
    opacity: 1;
    overflow: hidden;
    background-color: #dbd4b5;
}
.bg_video_content {
    height: 120%;
    width: 125%;
    object-fit: cover;
    filter: brightness(100%);
    vertical-align: bottom;
}

.bg_video_title {
    font-family: 'AndersonGrotesk';
    font-weight: 700;
    font-size: 70px;
    color: #383838;
    text-align: center;
    margin-top: 15%;
    
}
.bg_video_text {
    font-family: 'AndersonGrotesk';
    font-weight: 300;
    width: 100%;
    font-size: 18px;
    color: #383838;
    text-align: center;
    margin-top: 10px;
    font-weight: 200;
    line-height: 150%;
}
.bg_video_button {

    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 220px;

    padding: 16px 16px;
    font-weight: 500;
    width: 160px;
    border: 1px solid #383838;
    text-align: center;
    color: #383838;
}
.bg_video_button:hover {
    opacity: 50%;
}

.intro{
    width: 100%;
    padding-top: 80px;
    height: calc(100vh - 100px);
    overflow: hidden;
}

.section1{
    background-color: #fff;
    height: 400px;
}

.section-title {
    font-family: 'JUNESN';
    color: #333333;
    font-size: 48px;
    margin-top: 40px;
    text-align: center;
}

.bgmplayer{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
