@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

@font-face { 
    font-family: "JUNESN";
    src: url("./fonts/JUNESN__.ttf") format("truetype");
    font-weight: normal;
} 

@font-face { 
    font-family: "ZenKurenaido";
    src: url("./fonts/MPLUS2-Thin.ttf") format("truetype");
    font-weight: normal;
} 

@font-face { 
    font-family: "Coolvetica Rg";
    src: url("./fonts/coolvetica rg.otf") format("Opentype");
    font-weight: normal;
} 

@font-face { 
    font-family: "Sonder Regular";
    src: url("./fonts/SonderRegular.otf") format("Opentype");
    font-weight: normal;
} 

/** Ultra Light */
@font-face {
    font-family: "San Francisco";
    font-weight: 100;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
  }
  
  /** Thin */
  @font-face {
    font-family: "San Francisco";
    font-weight: 200;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
  }
  
  /** Regular */
  @font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }
  
  /** Medium */
  @font-face {
    font-family: "San Francisco";
    font-weight: 500;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
  }
  
  /** Semi Bold */
  @font-face {
    font-family: "San Francisco";
    font-weight: 600;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
  }
  
  /** Bold */ 
  @font-face {
    font-family: "San Francisco";
    font-weight: 700;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
  }

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('./fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* 원하는 두께 범위 지정 */
    font-style: normal; /* 이탤릭이나 기울임 설정 가능 */
}

@font-face {
    font-family: 'PlayfairDisplayItalic';
    src: url('./fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'AndersonGrotesk';
    src: url('./fonts/AndersonGrotesk/AndersonGrotesk.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'AndersonGrotesk';
    src: url('./fonts/AndersonGrotesk/AndersonGrotesk-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'AndersonGrotesk';
    src: url('./fonts/AndersonGrotesk/AndersonGrotesk-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'AndersonGrotesk';
    src: url('./fonts/AndersonGrotesk/AndersonGrotesk-Ultrabold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

*{
    margin: 0 auto;
    padding: 0;

    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
                 "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
                 "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    list-style: none;
    font-size:16px;
    letter-spacing: -.022em;
}
a{
    text-decoration: none;
    
}
html{
    width: 100%;
}
body{
    width: 100%;
}
body {
    background-color: #1c1c1e;
}
.body_transparent{
    background-color:transparent;
}
header{
    width: 100%;
    height: 64px;
    position: fixed;
    top : 0;
    right: 0;
    left: 0;
    background-color: transparent;
    z-index: 10;
    transition: all 0.1s ease-in;
}
/* fixed는 js에서 받아오는 값으로, 스크롤 값에 따라 tag를 탈부착한다. */
header.fixed {
    background-color: #1c1c1e;
}
header.fixed .menuwrapper{
    background-color: #1c1c1e;
    box-shadow: 0;
}
/* fixed head가 붙으면 무조건 로고를 밝게 */
header.fixed .logo {
    filter:brightness(100%); 
}



.wrap{
    width: 100%;
    height: 64px;
}
.logo{
    position: absolute;
    float: left;
    width: clamp(120px, 20vw, 180px);
    height: 42px;
    margin-top: 8px;
    margin-left: 12px;
}
.logo.black{
    filter:brightness(0%); 
}
.logo a{
    width: clamp(120px, 20vw, 180px);
    height: 42px;
}
.logo a img {
    width: clamp(120px, 20vw, 180px);
    margin-top: 10px;
    margin-left: 10px;
    transition: all 0.1s linear; 
}
.logo a img:hover{
    transform: scale(0.995);
}

.menuwrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    padding: 4px 2px 4px 2px;
}
/*
.menuwrapper{
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 100px;
    background-color: #111111;
    padding: 4px 2px 4px 2px;
    box-shadow: 0 8px 28px rgba(0,0,0,0.10), 0 0px 10px rgba(0,0,0,0.10);
}
*/



.navi>li{
    margin-top: 8px;
    float: left;
    
}
.navi>li>a{
    /*a에는 left X */
    height: 36px;
    text-align: center;
    line-height: 36px;
    font-size: 15px;
    padding-left: 14px;
    padding-right: 14px;
    font-family: "Pretendard Variable";
    font-weight: 400;
    font-display: block;
    border-radius: 100px;
    margin: 0px 2px 0px 2px;
}
.navi>li>a:hover{
    opacity: 75%;
    transition: all 0.0s linear;  
}
.navi a {
    color: #fff;
    opacity: 0.5;
}

.navi .active a{
    opacity: 1;
}
/*
.navi .active a{
    background-color: #ffffff !important;
    color: #111111 !important;
}
*/

