@charset "UTF-8";

.bg_video {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100vh - 0px);
    width: 100%;
    z-index: -1;
    opacity: 1;
    overflow: hidden;
    background-color: #111;
}
.bg_video_content {
    height: 120%;
    width: 125%;
    object-fit: cover;
    filter: brightness(100%);
    vertical-align: bottom;
}

.bg_video_title {
    font-family: "Pretendard Variable";
    font-weight: 600;
    font-size: 72px;
    color: #fff;
    text-align: center;
    margin-top: calc(20% * 0.8);
    width: 80%;
}
.bg_video_text {
    font-family: "Pretendard Variable";
    font-weight: 400;
    width: 100%;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 24px;
    line-height: 150%;
}
.bg_video_button {
    margin-top: 180px;
}
.intro{
    width: 100%;
    padding-top: 80px;
    height: calc(100vh - 100px);
    overflow: hidden;
}

.section1{
    background-color: #fff;
    height: 800px;
    margin: 0 24px 0 24px;
}

.section-title {
    font-family: "Pretendard Variable";
    font-weight: 600;
    color: #111111;
    font-size: 38px;
    margin-top: 72px;
    margin-bottom: 24px;
    text-align: center;
}


.profile_box{
    background-color: #fff;
    border-radius: 12px;
    height: 400px;
    transition: .2s ease-in-out;
}

.profile_box:hover{
    transform: scale(1.005);
    box-shadow: 0 8px 36px rgba(0,0,0,0.20);
}

.profile_img{
    background-color: #808080;
    width: 200px;
    height: 200px;
    position: absolute;
    margin-left: 64px;
    margin-top: 64px;
}

.bgmplayer{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
